@import "base/includes.scss";


// @import "partials/*";

html{
	font-family: $lato-regular, $lato, sans-serif;
	font-size: 100%;
  line-height: 1.5em;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
	max-width: 100%; 
}


p{
  font-family: $lato-regular, $lato, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5{
  font-family: $lato-black, $lato, sans-serif;
  font-weight: 900;
  line-height: 1;

}

a,
a:hover,
a:active,
a:focus{
	text-decoration: none;
}

li{
	list-style: none;
}

.container {
    @include grid-container;
    max-width: 1200px;
    margin: 0 auto;
    // @include grid-visual;
}
// @include grid-media($mobile){
  // .content {
  //   padding-left: 135px;
  // }
// }

.section {
  min-height: 100vh;
  height: auto !important;

  @include grid-media($mobile) {
    height: 100vh !important;
  }
}

.hero{
  background: $black;
  color: $white;
  padding-top: 120px;

  @include grid-media($mobile){
    padding-top: 140px;
  }


  .content{
    @include grid-column(12);

    @include grid-media($mobile){
      @include grid-column(4)
      @include grid-push(1.5);
    }
  }

  p{
    color: white;
    font-family: $lato-regular, $lato, sans-serif;

  }
}

/*Menu*/
.site-menu {
  position: fixed;    
  color: black;
  padding: 0;
  z-index: 1;
  width: 100%;

  // @include grid-media($mobile){
  //   width: auto;
  // } 

  .logo{
    // position: fixed;
    // top: 0;
    z-index: -1;
    transition: all .25s cubic-bezier(.55, 0, .1, 1);
    // left: -100px;
    background: #fff;

    // @include grid-media($mobile){
      // left: -3px;
      // padding: 1.55rem;
    // }

    &.show{
      top: 138px;
    }
  }

  #menu{
    position: relative;
    z-index: 1;
    background: white;
    @include grid-column(12, $nomargin-grid);
    margin-left: 0;
    height: 44px;
    transition: all .25s linear;
  
    > li{
      display: none;

      &.active{
        display: block;
      }

      @include grid-media($mobile){
        // position: fixed;
        display: block;
      }
    }

    
    .help{
      position: relative;
    }

    .toggle-menu{
      cursor: pointer;
      width: 20px;
      height: 20px;
      width: 100%;
      background: #f3ef42;
      text-align: center;

      > span{
        display: block;
        width: 15px;
        height: 5px;
        background: #00a651;
        transition: all .25s cubic-bezier(.55, 0, .1, 1);
        position: relative;
        border-radius: 45%;
        display: inline-block;
        

        &:nth-child(1){
          transform: rotate(130deg);
          top: 0px;
          left: 14px;
          transition: all .25s cubic-bezier(.55, 0, .1, 1);
        }
          
        &:nth-child(2){
          transform: rotate(-130deg);
          right: 9px;
        }
      }
    }


    &.menu-collapse{
      height: 300px;

      > li{
        display: block;
      }

      .toggle-menu {
        // bottom: -50px;

        & > span:nth-child(1){
            left: 7px;
        }
        & > span:nth-child(2){
            right: 1px;
        }
      }
    }


    @include grid-media($mobile){
      @include grid-column(1, $nomargin-grid)
      float: none;
      top: 138px;
      height: auto;
    }
  }

   ul{
    padding: 0;
    margin: 0;
  }

  li{
    list-style: none;
    padding: 1.55rem 0;
    text-align: center;
    position: relative;
    background: white;

    &:after {
      content: "";
      position: absolute;
      background: black;
      bottom: 0;
      left: 35px;
      right: 35px;
      height: 1px;
    }

    &:first-child {
      padding: 0;
    }

    &.no-seperator:after {
      content: none;
    }

    &.donate {
        background: #00a651;
        // padding: 2.15rem  1.86rem;

        a{
          color: white;
        }
    }

  }

  a{
    color: black;
    text-transform: uppercase;
    font-size: 1em;
    position: relative;
    transition: all 5s cubic-bezier(.55, 0, .1, 1);
    font-family: $lato-black, $lato, sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;


    &:after {
      width: 0;
      border-bottom: 0.125em solid #00a651;
      content: "";
      left: 0;
      margin-top: calc(0.125em / 2 * -1);
      position: absolute;
      top: 50%;
      transition: all .5s cubic-bezier(.55, 0, .1, 1);
    }

    &:hover:after {
      width: 100%;
    }
  }

  .active a{
    position: relative;

    &:after {
      border-bottom: 0.125em solid #00a651;
      content: "";
      left: 0;
      margin-top: calc(0.125em / 2 * -1);
      position: absolute;
      width: 100%;
      top: 50%;
      transition: all .5s cubic-bezier(.55, 0, .1, 1);
    }
  }
}

.logo img {
    // max-width: 138.5px;
    margin: 0;
	
}

/* Strike Through */
.strikeout {
  position: relative;

  &:after {
    border-bottom: 0.07em solid black;
    content: "";
    left: -4px;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: -4px;
    top: 60%;
  }

  &.yellow:after{
    border-bottom: 0.125em solid $yellow;
  }
}

.why{
  padding: 40px 0;

  .section-image,
  .section-text{
    @include grid-column(12);
  }

  .section-image{
    @include grid-media($mobile){
      @include grid-column(3);
      @include grid-push(2);
    }

    img{
      margin-top: 1em;
    }
  }
  
  .section-text{
    min-height: 410px;

    @include grid-media($mobile){
      @include grid-column(4);
      @include grid-push(0.5);
    }
  }
}

h2.title{
	color: #00a651;
	text-align: center;
  font-size: 4rem;

  &.noalign{
  	text-align: left;
  }
}


.move-bg{
	background: url('../img/Who_BG.jpg') grey;
	// background-size: contain;
	background-repeat: no-repeat;
	// background-size: 125% 125%;
  background-position: -64px -238.6px;
  -webkit-transition: background-position 0.01s linear;
  transition: background-position 0.01s linear;
  padding-top: 10px; 
  padding-bottom: 40px; 

  

  .solid-box-wrapper{
    margin: 0 auto;
    float: left;
    width: 100%;
  }

  .transparent-box{
    border: solid 13px $green-matte;
    height: 440px;
    @include grid-column(9, $nomargin-grid);
    @include grid-push(0.5);

    @include grid-media($mobile){
      @include grid-column(5, $nomargin-grid);
      @include grid-push(1);
    }
  }

  .solid-text-box{
    @include grid-column(9, $nomargin-grid);
    @include grid-push(0.5);

    height: auto;
    background: $green-matte;
    height: 440px;
    border: solid 13px $green-matte;

    @include grid-media($mobile){
      @include grid-column(5, $nomargin-grid);
    }



    &, p, h3{
      color: $white;
      
    }

    .inner{
      @include grid-column(9)
      @include grid-push(1)
      padding-top: 3rem; 

    }
  }
}

.tint-tip {
  *{
    z-index:  0 ;
    position:   relative;
  }

  &:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7db9e8+100&1+0,0+16,0+16 */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(20,30,37,0) 40%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(20,30,37,0) 40%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(20,30,37,0) 40%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  }
}

/*Overeides*/
.noalign .fp-tableCell {
     display: block; 
     vertical-align: initial; 
}

#fullpage{
	    /*margin-left: 100px;*/
}

/* Helpers */
.hide{
  display: none;
}
.show{
  display: block;
}

.remove-margin{
  margin: 0
}
.remove-margin-bottom{
  margin-bottom: 0
}
.remove-margin-top{
  margin-top: 0
}

/* Responsive */
.show-mobile{
    display: none;

    @include grid-media($mobile){
      display: block;
    }
}

.hide-mobile{
    display: block;

    @include grid-media($mobile){
      display: none;
    }
}


.how {
  background: url('../img/How_BG.jpg');
  padding: 30px 0;
}

.promo-card-wrapper {
  margin: 0 auto;
  width: 90%;

  .promo-card {
    @include grid-media($mobile) {
      @include grid-column(3, $promo-gutter);
      margin-bottom: 0;
    }

    padding: 30px;
    background: $white;
    border-radius: 10px;
    min-height: 390px;
    margin-bottom: 2em;

    .title {
      text-align: center;
      text-transform: uppercase;
    }

    .description {
      text-align: center;
      font-size: 1.25em;

      // &.inputs {
      //   margin-bottom: 35px;
      // }
    }

    .promo-button {
      color: $white;
      background: $green-matte;
      width: 100%;
      border-radius: 8px; 

      a,
      input {
        color: $white;
        text-transform: uppercase;
        padding: 10px 0;
        font-size: 1.5em;
        display: block;
        text-align: center;
        font-weight: bold;
      }
    }

    .image {
      text-align: center;
      border-bottom: 2px solid grey; 
      padding: 15px 0;
      img {
        width: 130px;
      }
    }

    .promo-input {
      border: 0;
      outline: 0;
      border-bottom: 1px solid grey;
      margin-bottom: 1em;
      width: 100%;
    }
  }
}