$neat-grid: (
  gutter: 20px,
  media: 1200,
  columns: 12,
);
$nomargin-grid: (
  gutter: 0,
);
$promo-gutter: (
  gutter: 45px,
);


$mobile-small: (
  media: 480px,
);

$mobile: (
  media: 768px,
);

$tab: (
  media: 992px,
);

$desktop: (
  media: 1200px,
);