/**
	Variables
**/
// ---------- Colors ---------------------
$black : #000;
$white : #fff;
$green : #00A651;
$green-matte : #0e6d4a;
$yellow: #fffc19;
$grey-light: #6a6a6a;
$grey-lighter: #cccccc;


// ---------- Fonts ---------------------
$lato: "Lato";
$lato-regular: "Latoregular";
$lato-black: "Latoblack";